.filtered-results {
  background-color: beige; /* Your chosen card color */
  padding: 30px;
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategrey;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.house-icon {
  background-image: url('../assets/home.png'); /* Adjust the path to your icon */
}

.dollar-icon {
  background-image: url('../assets/dollar-currency-symbol.png'); /* Adjust the path to your icon */
}

/* Add spacing between the elements */
.filtered-results p {
  font-size: 1.5rem;
  margin-bottom: 40px; /* Space below each paragraph */
}

/* Add space below the select dropdown if you have one */
.filtered-results select {
  margin-bottom: 30px; /* Space below the dropdown */
}
