.search-history {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-card {
    background: linear-gradient(120deg, rgb(224, 117, 210), #f3c86d); 
    color: beige; 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .search-card:hover {
    transform: translateY(-5px);
  }
  